.user-graphics-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.user-graphics {
    margin: 0 100px;
}
.user-graphics-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}